{% extends "Hotel/base.html" %}

{%  block start %}

{% load static %}

<section class="search-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="row my-3">
                </div>
                <div class="row mt-2 justify-content-between">
                    <div class="filter-card">
                        <h5>Filter</h5>
                        <form action="#">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label for="mintopay">Check in</label>
                                    <p>
                                        <input type="date" name="checkin" id="checkin" class="form-control" value="{{checkin}}">
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <label for="maxtopay">Check out</label>
                                    <p>
                                        <input type="date" name="checkout" id="checkout" class="form-control" value="{{checkout}}">
                                    </p>
                                </div>
                            </div>
                           
                            <div class="row form-group">
                                <div class="col-md-12" style="justify-content: center;display: flex;" >
                                    <input type="submit" class="btn btn-success btn-block" value="Filter">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 mb-5">
                <form>
                <div class="row filter-bg">
                    <div class="col-md-3">
                    <div class="form-inline">
                        <label class="" for="exampleFormControlSelect1">Sort by</label>
                        <select class="form-control" name="sort_by" id="exampleFormControlSelect1">
                            <option value="">Recommended</option>
                            <option {% if sort_by == 'ASC' %} selected {%endif %} value="ASC">ASC</option>
                            <option {% if sort_by == 'DSC' %} selected {%endif %} value="DSC">DSC</option>
                        </select>
                    </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-inline">
                            <label class="" for="exampleFormControlSelect1">Search</label>

                            <input name="search" class="form-control" {% if search == None %} value="" {% else %} value="{{search}}" {%endif %} placeholder="Search"> 
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-inline">
                           <label class="" for="exampleFormControlSelect1">Adventures</label>
                            <select name="adventures" class="form-control" >
                                <option value="">Choose</option>
                                {% for adventure_obj in adventure_objs %}
                                <option {% if adventure_obj.adventure_name in adventures  %} selected {%endif%} value="{{adventure_obj.adventure_name}}"> {{adventure_obj.adventure_name}} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 btn-align">
                            <button style="margin-top: 30px;" type="submit" class="btn btn-success find-btn">Find</button>
                    </div>
                </div>
                </form>
                
                {% for hotels_obj in hotels_objs %}
                <div class="row search-card-result">
                                    
                    <div class="col-md-3">
                       
                    
                        <img class="img-fluid" src="/media/{{hotels_obj.images.first.images}}" alt="Card image cap">
                    
                    </div>
               
                    <div class="col-md-3">
                        <h5>{{hotels_obj.hotel_name}}</h5>
                        
                        <p>
                            {{hotels_obj.description|truncatechars:150}}
                        </p>
                        <p>
                            {% for amenitie in hotels_obj.amenities.all %}
                            <b>{{amenitie.amenity_name}}</b>
                            {% endfor %}
                        </p>
                        
                    </div>
                    <div class="col-md-4 border-left text-center details-page">
                        
                        <h1 class="text-style">Reviews: <p> {{hotels_obj.review}}</p></h1>
                        <h1 class="text-style">Price: <p> ${{hotels_obj.hotel_price}}</p></h1>
                        <h1 class="text-style">Rooms: <p> {{hotels_obj.room_count}}</p></h1>
                    </div>
                    <div class="col-md-2 border-left text-center more-offers">
                        <a href="/hotel-detail/{{hotels_obj.uid}}">
                        <!-- {{already_booked}} -->
                        <div class="btn btn-success" {% if already_booked == "None" %} disabled {% else %}  {%endif %}>View deal </div>
                    </a>
                    </div>
                </div>
                {% endfor %}
               
            </div>
        </div>

    </div>
</section>

{% endblock %}