{% extends "Hotel/base.html" %}

{%  block content %}

{% load static %}

<!--Full-Screen Splash Image with Flexbox center text-->
<div id="splashImage" class="container-fluid">
    <div class="center-logo">
        <h1 class="title-sec typing-demo">The Nomadic Tribe</h1>
    </div>
</div> <!-- End of full Screen Splash screen -->

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div class="row my-3">
            </div>
            <div class="row mt-2 justify-content-between">
                <div class="filter-card">
                    <h5>Filter</h5>
                    <form action="#">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label for="mintopay">Check in</label>
                                <p>
                                    <input type="date" name="checkin" id="checkin" class="form-control" value="{% now 'Y-m-d' %}">
                                </p>
                            </div>
                            <div class="col-md-12">
                                <label for="maxtopay">Check out</label>
                                <p>
                                    <input type="date" name="checkout" id="checkout" class="form-control" value="{% now 'Y-m-d' %}">
                                </p>
                            </div>
                        </div>
                       
                        <div class="row form-group">
                            <div class="col-md-12" style="justify-content: center;display: flex;" >
                                <input type="submit" class="btn btn-success btn-block" value="Filter">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-9 mb-5">
            <form>
            <div class="row filter-bg">
                <div class="col-md-3">
                <div class="form-inline filter-form">
                    <label class="label-filter" for="exampleFormControlSelect1">Sort by</label>
                    <select class="form-control exampleFormControlSelect1" name="sort_by" id="exampleFormControlSelect1">
                        <option value="">Recommended</option>
                        <option {% if sort_by == 'ASC' %} selected {%endif %} value="ASC">ASC</option>
                        <option {% if sort_by == 'DSC' %} selected {%endif %} value="DSC">DSC</option>
                    </select>
                </div>
                </div>
                <div class="col-md-3">
                    <div class="form-inline filter-form">
                        <label class="label-filter" for="exampleFormControlSelect1">Search</label>

                        <input name="search" style="padding: 11px 9px 5px;" class="form-control exampleFormControlSelect1 " {% if search == None %} value="" {% else %} value="{{search}}" {%endif %} placeholder="Search"> 
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-inline filter-form">
                       <label class=" label-filter" for="exampleFormControlSelect1">Adventures</label>
                        <select name="adventures" class="form-control exampleFormControlSelect1" >
                            <option value="">Choose</option>
                            {% for adventure_obj in adventure_objs %}
                            <option {% if adventure_obj.adventure_name in adventures  %} selected {%endif%} value="{{adventure_obj.adventure_name}}"> {{adventure_obj.adventure_name}} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-3 btn-align">
                        <button style="margin-top: 30px;" type="submit" class="btn btn-success find-btn">Search</button>
                </div>
            </div>
            </form>
            
            {% for hotels_obj in hotels_objs %}
            <div class="row search-card-result">
                <div class="col-md-3">    
                    <img class="img-fluid" src="/media/{{hotels_obj.images.first.images}}" alt="Card image cap">
                </div>
                <div class="col-md-4">
                    <h5>{{hotels_obj.hotel_name}}</h5>
                    
                    <p>
                        {{hotels_obj.description|truncatechars:150}}
                    </p>
                    <p style="color: #008009;font-weight: 700;">
                        FREE cancellation 
                    </p>
                    <p style="color: #008009;font-weight: 700;">
                        You can cancel later, so lock in this great price today!
                    </p>
                    
                </div>
                <div class="col-md-3 mt-2">
                    <div class="scene">
                        <div class="cube">
                          <span class="side top">{{hotels_obj.review}}</span>
                          <span class="side front">Reviews</span>
                        </div>
                    </div>
                    <div class="scene">
                        <div class="cube">
                          <span class="side top">$ {{hotels_obj.hotel_price}}</span>
                          <span class="side front">Price</span>
                        </div>
                    </div>
                    <div class="scene">
                        <div class="cube">
                          <span class="side top">{{hotels_obj.room_count}}</span>
                          <span class="side front">Rooms</span>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-2 more-offers">
                    <a href="/hotel-detail/{{hotels_obj.uid}}">
                    <button class="btn btn-success button" {% if hotels_obj.room_count < 1 %} style="display:none;" {% else %} enabled  {%endif %}>View deal </button>
                </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
<!-- End of container -->

{% endblock content %}